@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeWrapper .projectTitle {
  color: #20232a;
}

.homeWrapper .button {
  border: 1px solid #282828;
  color: #282828;
}

.homeWrapper .button:hover {
  background-color: #282828;
  color: #fff;
}


.fixedHeaderContainer {
  background: #20232a;
}

.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: #20232a;
  color: #62baf9;
}

.gridBlock .twoByGridBlock img,
.gridBlock .threeByGridBlock img,
.gridBlock .fourByGridBlock img {
  max-width: 75%;
}

.gridBlock .twoByGridBlock img[src='/img/undraw_dev_productivity.svg'] {
  max-width: 50%;
}

.container.paddingTop {
  padding-top: 20px;
}

.imageAlignTop .blockImage {
  max-width: 130px;
}

.headerTitleWithLogo {
  color: #62baf9;
}

.homeSplashFade {
  background: #62baf9;
}

.waveContainer {
  height: 100px;
  overflow: hidden;
}

.wave {
  display: block;
  position: relative;
  height: 40px;
  background: #62baf9;
}
.wave:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: white;
  right: -25%;
  top: 20px;
}
.wave:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #62baf9;
  left: -25%;
  top: -240px;
}
